{% include '_header.html' %}
<h1>Home</h1>

<img src="splash.png" alt="InvisibleUp! (Inviz for short). Featuring ROM hacks, programming musings, creative doodlings, terrible rhymes and good times." />

<p class="notice">Last updated 2018-02-26</p>
<p><b>Status:</b> Trying out a new character design to represent myself on the internet. You like? I think she's cute. Also new CSS and a major reorganization of the site in general.</p>
<p><b>Newest thing:</b> StarFox (SNES) hacking notes and ROM editor</p>
<a href="hacks/starfox"><img src="hacks/starfox/thumb.png" alt="StarFox Hacking Notes" /></a>

<p><b>Sonic Redux:</b> <a href="projects/redux">My WIP hack of Sonic R for the PC!</a></p>
{% include '_footer.html' %}